<template>
  <div class="about">
    <el-button type="primary" icon="el-icon-back" style="margin-bottom: 10px" @click="$router.push('/')">MAP</el-button>
    <v-jsoneditor v-model="data" :plus="false" height="95vh"></v-jsoneditor>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showLength: true,
      data: [[106.91600178903806, 47.915773225034776], [106.89498393967285, 47.92363207137343], [106.93144588588865, 47.92698592131538], [106.94835724505613, 47.91303889011036]]
    }
  }
}
</script>
