<template>
  <div class="home">
    <el-button type="primary" icon="el-icon-right" style="margin-bottom: 10px" @click="$router.push('/json')">JSON</el-button>
    <el-row>
      <el-col :span="22"><el-input type="textarea" v-model="rawText"></el-input></el-col>
      <el-col :span="2"><el-button type="danger" @click="calc">Боловсруулах</el-button></el-col>
    </el-row>
    <gmap-map :center="center" :zoom="14" :options="options" :draggable="false" style="width:100vw;  height: 70vh; margin-top: 5px;">
      <gmap-polygon :paths="points" :options="optionsPoly" :editable="true" @paths_changed="updatePolygonPaths($event)"> </gmap-polygon>
    </gmap-map>
    <h1>Polygon</h1>
    <el-row>
      <el-col :span="22"><el-input type="textarea" disabled v-model="rawText1"></el-input></el-col>
      <el-col :span="2"><el-button type="info" @click="copy">Copy</el-button></el-col>
    </el-row>
    <!-- <el-button type="success" @click="convert">Convert</el-button> -->
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  created () {
    let arr = []
    this.points.forEach(element => {
      arr.push([element.lng, element.lat])
    })
    this.rawText1 = JSON.stringify(arr)
  },
  name: 'home',
  data () {
    return {
      rawText1: '',
      rawText: '',
      polygon: [],
      options: {
        scrollwheel: true,
        mapTypeControl: true,
        streetViewControl: false,
        minZoom: 4,
        maxZoom: 20,
        gestureHandling: 'greedy'
      },
      center: {
        lat: 47.9174,
        lng: 106.9137
      },
      points: [
        { lat: 47.915773225034776, lng: 106.91600178903806 },
        { lat: 47.92363207137343, lng: 106.89498393967285 },
        { lat: 47.92698592131538, lng: 106.93144588588865 }
      ],
      optionsPoly: {
        fillColor: '#000000',
        strokeColor: '#FF0000',
        strokeOpacity: 0.9,
        fillOpacity: 0.1
      },
      optionsPoly1: {
        fillColor: '#000000',
        strokeColor: '#00FF00',
        strokeOpacity: 0.9,
        fillOpacity: 0.1
      }
    }
  },
  methods: {
    updatePolygonPaths (paths) {
      var arr = []
      for (var i = 0; i < paths.i[0].i.length; i++) {
        arr.push({ lat: paths.i[0].i[i].lat(), lng: paths.i[0].i[i].lng() })
      }
      this.points = arr
      this.convert()
    },
    copy () {
      this.$clipboard(this.rawText1)
    },
    convert () {
      let arr = []
      this.points.forEach(element => {
        arr.push([element.lng, element.lat])
      })
      this.rawText1 = JSON.stringify(arr)
    },
    calc () {
      let arr = []
      let arr1 = []
      arr = JSON.parse(this.rawText)
      arr.forEach(element => {
        arr1.push({ lat: element[1], lng: element[0] })
      })
      this.points = arr1
      this.convert()
    }
  }
}
</script>
